@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}

/* Fluid Styles */
/*.content {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;*/

.mainnav ul {
	list-style: none;
	list-style-image: none;
	margin: 1;
	padding: 0;
	float: none;
	background-color: #7f7f7f7;
	height: 12.5%;
	border: 10px solid #3B3E41;
	position: static;
}

/* Mobile Layout: 480px and below. */
  
.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}

/* Header style*/
.masthead {
	width: 100%;
	height: 12.5%;
	background-image:url(images/cats.jpg);
	
}

h1 {
	text-align: center;
	line-height: 2em;
	width: 100%;
	color:#FFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	margin: 1;
	}

/* Navigation Bar styles */
.mainnav {
	width:100%;
	margin-left: 0;
	clear: both;
	background-color: #7f7f7f;
}

nav li {
	width: 100%;
	height:12.5%;
	display: inline-block;
	position:static;
	clear: none;
}

nav a {
	color: #B9C2CC;
	text-decoration: none;
	text-align: center;
	display: block;
	font-size: .9em;
	line-height: 1em;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav a:hover,
nav a:active {
	color: #FFF;
	background: #3b3e41;
	line-height: 2em;
}

/* Footer styles*/
/*.footer {
	width: 100%;
	margin-left: 0;
	margin-top: 10px;
	clear: both;
	text-align: center;
}
}
